@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url("https://use.typekit.net/qsi4ppk.css");
/*@import url('https://use.fontawesome.com/releases/v5.0.2/css/all.css');*/

/*
    -- BASICS --

     * variables
     * body, link, headings
     * wrapper, page divs
*/

:root {
    --primary: #463EA8;
    --secondary: #bf395d;
    --teritary: #2e87c3;
    --bgLightPurple: #F6F5FF;

    --bgDarkgreen: #0a231e;
    --bgLightgreen: #45635c;
    --bgLightgrey: #f9f9f9;

    --borderGrey: #dddddd;
    --shadowGrey: #aaaaaa;

    --txBlack: #1A1A1A;
    --txGrey: #4F4F50;
}

body {
    background-color: var(--bgLightPurple);
    font-family: 'Acumin Pro', 'Roboto', 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.15px;
    line-height: 1.5;
    margin: 0 auto;
    min-width: 576px;
    position: relative;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.25;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.25;
    margin: 1rem 0 1rem 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5rem;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

a.ext-link {
    border-bottom: 0.5px dashed;
}


a.ext-link:after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 0.5em;
    font-weight: 900;
    display: inline;
    margin-left: 3px;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

em {
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(180deg,rgba(255,255,255,0) 40%, #FFE359 60%);
    border-radius: 2px;
}

.nav-tabs {
    margin-top: 40px;
    margin-left: -16px;
    margin-right: -16px;
/*    padding-left: 16px;*/
}

.nav-tabs a.nav-link {
    color: var(--txBlack);
    background-color: transparent;
    border-color: transparent;
    padding: .5rem 24px;
}

.nav-tabs a.nav-link:hover,
.nav-tabs .nav-item.show a.nav-link,
.nav-tabs a.nav-link.active,
.nav-tabs a.nav-link.active:hover {
    border-color: transparent;
    border-bottom: 1px solid;
    color: var(--txBlack);
    font-weight: 600;
}

.nav-tabs a.nav-link:hover {
    color: var(--primary);
}

.nav-tabs a.nav-link.active:hover {
    pointer-events: none;
}


.disabled {
    color: var(--txBlack);
    cursor: default;
    pointer-events: none;
}

.btn {
    border: none;
    border-radius: 16px;
    font-family: "Acumin Pro SemiCondensed";
    font-size: 1.25rem;
    font-weight: 600;
/*    line-height: 1.25;*/
/*    text-transform: uppercase;*/
    padding: 12px 2rem;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn:hover {
    font-weight: 600;
}

.btn-primary {
    background-color: transparent;
    color: var(--txGrey);
/*    border: 3px solid;*/
    border: none;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--primary)!important;
}

.btn-primary:active {
    opacity: .8;
}


.hidden {
    display: none!important;
}



ul.style-dash {
    list-style: none;
    padding: 0;
}

ul.style-dash li {
    list-style: none;
    padding-left: 1.3em;
}

ul.style-dash li:before {
    content: "—";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

[class^='fa-'] {
    font-family: FontAwesome;
}

#wrapper {
    margin: 0 auto;
/*    max-width: 1512px;*/
}

.page {
    margin: 0 auto;
    position: relative;
    transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
    transition: -webkit-transform 0.2s 0.3s;
    -webkit-transition: -webkit-transform 0.2s 0.3s;
    width: 100%;
    z-index: 101;
}

.container {
    margin: 0px auto;
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;

}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 40px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 24px;
    }
}

.row {
    margin: 0 auto;
}

.row > * {
    padding: 0;
}



/*
    -- HEADER --

     - nav.navbar
     -- a.navbar-brand
     --- img.logo
     --- div.title-inner
     ---- h1.name
     ---- span.subtitle
     -- div.menu
     --- ul.navbar-nav
     ---- li.nav-item, li.nav-item.dropdown
     ----- a.nav-link.dropdown-toggle
     ----- div.dropdown-menu
     ------ a.dropdown-item
*/

#header {
    background-color: var(--bgLightPurple);
    width: 100%;
    min-height: calc(2rem + 80px);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    z-index: 200;
}

nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0px;
    width: 100%;
}

nav a.navbar-brand {
    color: var(--txBlack);
    height: 80px;
    padding: 0;
}

nav .logo {
    height: 80px;
    margin-right: 1rem;
    width: 80px;
}

h1.name {
    font-family: "Acumin Pro Condensed";
    font-weight: 600;
    font-size: 2.25rem;
    margin: 0 1rem 0 0;
}

nav a.navbar-brand:hover {
    border: none;
}

nav a.navbar-brand:hover .logo {
    filter: opacity(75%);
    -webkit-filter: opacity(75%);
}

nav a.navbar-brand:hover .name {
    color: var(--primary);
}

nav a.navbar-brand:hover .subtitle {
    color: var(--txGrey);
}

nav div.menu {
    margin-left: 40px;
    position: relative;
}

nav .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

nav .nav-item {
    margin: 0 16px;
}

nav .nav-item a.nav-link {
    color: var(--txBlack);
    font-size: 1.25rem;
    font-weight: 300;
    padding: .5rem 1rem!important;
}

nav .nav-item a.nav-link:hover,
nav .nav-item a.nav-link.active {
    border: none;
    color: var(--primary);
    font-weight: 600;
}

nav .nav-item a.nav-link.disabled {
    color: var(--txBlack);
}

nav .dropdown {

}

nav .dropdown:hover .dropdown-menu {
    display: block;
}

nav .dropdown-menu {
    border: none;
    border-radius: 8px;
    padding: 4px 0;
    box-shadow: 0 0 24px rgba(5,0,5,20%);
}

nav .dropdown-item {
    font-weight: 300;
    font-size: 1.25rem;
    overflow: hidden;
    padding: 1.25rem 1rem;
}

nav .dropdown-item:hover {
    background-color: inherit;
    color: var(--primary);
    font-weight: 600;
}

nav .dropdown-item:active {
    background-color: var(--bgLightPurple);
}

nav .dropdown-item.dd-active {
    background-color: var(--bgLightPurple);
    color: var(--txBlack);
    font-weight: 600;
    pointer-events: none;
}

/*
    -- MAIN --

     * main content area
*/

#main {
    width: 100%;
}

#main.homepage {
/*    visibility: hidden;*/
}

#main #home-hero {
    margin-top: 16vh;
    margin-right: 16px;
    margin-bottom: 80px;
    max-width: 1080px;
}

#main #home-hero h1 {
    color: var(--primary);
}

#main #home-hero .home-desc {
    margin-bottom: 40px;
}

#main .h-proj-item {
    padding: 64px 0;
}

#main .h-proj-item:nth-child(even) {
    background-color: #ffffff;
}

#main .h-proj-img {
    background-color: transparent;
    padding-right: 24px;
}

#main .h-proj-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

#main .h-proj-meta {
    color: var(--txBlack);
    padding-right: 24px;
}

#main .h-proj-title {
    margin: 0;
    margin-bottom: 8px;
}

#main a.project-url .h-proj-title{
    color: var(--txBlack);
}

#main a.project-url:hover .h-proj-title,
#main a.project-url:active .h-proj-title{
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    transition: .15s;
}

#main .h-proj-desc {
    font-size: 1.5rem;
}
#main .h-proj-label{
/*    color: var(--txGrey);*/
/*    font-size: .75em;*/
    font-weight: 300;
}



.project > #main,
#about > #main {
    opacity: 0;
    z-index: 101;
}

.project #main .container {
    margin: 0px auto;
    max-width: 1088px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.project #main .proj-header {

}

.project #main .proj-header .container {
/*    padding: 2.5em 0px;*/
}

.project #main .proj-header h1 {
/*    font-weight: 300;*/
}

.project #main .proj-meta {
    position: relative;
}

.project #main .proj-meta .container .row {
    margin: 0;
}

.project #main .proj-meta .container .row > .row .row {
    padding: 0;
}

.project #main .proj-meta h2 {
    font-family: "Acumin Pro SemiCondensed";
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.project #main .proj-meta ul {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .project #main.proj-bb .proj-meta {
        background-color: transparent;
    }
    .project #main .proj-meta .container > .row > .row:nth-of-type(2) {
        margin-left: -30px;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {

    .project #main .proj-meta .proj-overview {
        background-color: rgba(0, 0, 0, .4);
        -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24), inset 0 -1px 3px rgba(0, 0, 0, 0.24), inset 0 -1px 2px rgba(0, 0, 0, 0.36);
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24), inset 0 -1px 3px rgba(0, 0, 0, 0.24), inset 0 -1px 2px rgba(0, 0, 0, 0.36);
        color: #fff;
        height: 180px;
        margin: -1.5em auto 1em -45px;
        padding: 1em 45px;
        width: calc(100% + 90px);
    }
}

.project #main .proj-cont {
    background-color: #ffffff;
    z-index: 110;
}

.project #main .proj-cont #sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
    height: 80vh;
    min-height: 320px;
    text-align: right;
}

.project #main .proj-cont #sidenav .sn-breadcrumb {
    font-size: 0.8em;
    font-weight: 300;
    display: none;
}

.project #main .proj-cont #sidenav .sn-breadcrumb > a {
    border-bottom: 0.5px dashed;
    color: var(--txGrey);
}

.project #main .proj-cont #sidenav .sn-breadcrumb > a:hover {
    color: var(--primary);
}

.project #main .proj-cont #sidenav .sn-header {
    display: none;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: -5px;
}

.project #main .proj-cont #sidenav ul.nav {
    display: block;
    list-style: none;
}

.project #main .proj-cont #sidenav ul > li {
    width: 100%;
}

.project #main .proj-cont #sidenav li > a {
    color: var(--txBlack);
    padding: 16px;
}

.project #main .proj-cont #sidenav li > a.active {
    color: var(--txBlack);
    cursor: inherit;
    font-weight: 600;
    pointer-events: none;
}

.project #main .proj-cont #sidenav li:hover > a {
    color: var(--primary);
    font-weight: 600;
}

.project #main .proj-cont #sidenav li:hover > a.active {
    color: var(--txBlack);
}

.project #main .proj-cont #sidenav ul.nav ul.nav {
    border-right: solid 0.5px var(--txGrey);
    margin-top: -8px;
    margin-right: 16px;

}

.project #main .proj-cont #sidenav ul.nav ul.nav:hover,
.project #main .proj-cont #sidenav li > a:hover + ul.nav {
    border-right: 1.5px solid var(--primary);
}

.project #main .proj-cont #sidenav li > a.active + ul.nav {
    border-right: 0.5px solid;
}

.project #main .proj-cont #sidenav li > a.active + ul.nav:hover {
    border-color: var(--txBlack);
}

.project #main .proj-cont #sidenav ul.nav ul.nav li {
    font-size: 0.9em;
    display: flex;
    justify-content: end;
}

.project #main .proj-cont #sidenav ul.nav ul.nav li:last-of-type {
    margin-bottom: 10px;
}

.project #main .proj-cont #sidenav ul.nav ul.nav li a {
    border-left: solid 0.5 px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 160px;
}

.project #main .proj-cont #sidenav ul.nav ul.nav li a.active {
    border-width: 1.5px;
}

.project #main .proj-cont #sidenav ul.nav ul.nav li:hover a {
    border-color: var(--primary);
/*    border-width: 1.5px;*/
}

.project #main .proj-cont #sidenav ul.nav ul.nav li:hover a.active {
    border-color: var(--txBlack);
}

.project #main .proj-cont #sidenav a.sn-top {
    color: var(--txGrey);
    font-size: 0.8em;
}

.project #main .proj-cont #sidenav a.sn-top:hover {
    border: none;
    color: var(--primary);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .project #main .proj-cont .container > .row > div {
/*
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 3px rgba(0, 0, 0, 0.12);
*/
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        margin-right: -30px;
        max-width: calc(100% + 60px);
        opacity: 0.95;
        padding: 15px;
/*
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: calc(100% + 60px);
        z-index: 115;
*/
    }
    .project #main .proj-cont #sidenav {
        margin-top: 0px;
        position: relative;
        top: 0;
    }
    .project #main .proj-cont #sidenav .sn-breadcrumb {
        display: none;
    }
    .project #main .proj-cont #sidenav .sn-header {
        display: none;
        font-size: 0.8em;
    }
    .project #main .proj-cont #sidenav ul.nav {
        display: inline;
    }
    .project #main .proj-cont #sidenav ul > li,
    .project #main .proj-cont #sidenav li > a {
        display: inline;
        font-size: 14px;
        line-height: 1.25;
    }
    .project #main .proj-cont #sidenav li > a {
        border-left: none;
        border-bottom: 0.5px solid;
        margin: 0 5px;
        padding: 5px;
    }
    .project #main .proj-cont #sidenav li > a.active,
    .project #main .proj-cont #sidenav li:hover > a {
        border-left: none;
        border-bottom: 1.5px solid;
    }
    .project #main .proj-cont #sidenav ul.nav ul.nav {
        display: none;
    }
    .project #main .proj-cont #sidenav ul.nav a.active + ul.nav {
        background-color: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 3px rgba(0, 0, 0, 0.12);
        border-left: none;
        display: block;
        height: calc(100% + 10px);
        padding: 8px;
        position: absolute;
        top: calc(100% + 20px);
        /*        right: 0;*/
        /*        margin-left: -15px;*/
    }
    .project #main .proj-cont #sidenav ul.nav ul.nav a {
        font-size: 0.9em;
    }
    .project #main .proj-cont #sidenav a.sn-top {
        display: inline;
        line-height: 1.25;
        position: absolute;
        top: calc(50% - 0.5em);
        right: 15px;
    }
}

.project #main .proj-cont article {
    position: relative;
    margin-top: -40px;
    padding: 0;
}

.project #main .proj-cont article object {
    margin-right: 0.5em;
}

.project #main .proj-cont article .timeline object {
    margin-top: 15px;
}

.project #main .proj-cont .proj-sect {
    margin-bottom: 80px;
    padding-top: 40px;
}

.project #main .proj-cont .proj-sect > h2 {
/*    margin-top: 1rem;*/
}

.project #main .proj-cont .proj-sect div[id^='pj-proc-'] {
    margin-bottom: 4em;
}

.project #main .proj-cont .proj-sect div[id^='pj-'] > h3 {
    margin-bottom: 1.5rem;
    padding-top: 40px;
}

.project #main .proj-cont .proj-sect h3 > span {
    display: block;
    font-size: 1rem;
    margin-bottom: 4px;
    padding-top: 1rem;
}

.project #main .proj-cont .proj-sect h4 {
    margin-top: 1rem;
    margin-bottom: 0;
    border-bottom: .5px solid;
    padding-bottom: .5rem;
}

.project #main .proj-cont .proj-sect p,
.project #main .proj-cont .proj-sect ol {
    margin-bottom: 1.5rem;
    max-width: 35em;
}

.project #main .proj-cont .proj-sect > div {
    margin: 1rem 0;
}

.project #main .proj-cont .proj-sect > div:first-of-type {
    margin-top: 40px;
}

.project #main .proj-cont .proj-sect div.row {
    margin-left: 0;
    margin-right: 0;
}

.project #main .proj-cont .proj-sect [class^='col'] {
    margin-left: -5px;
    padding-left: 5px;
}

.project #main .proj-cont .proj-sect div[class^='col']:last-of-type {
    padding-right: 0;
}

.project #main .proj-cont .proj-sect img {
    border-radius: 2px;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
}

.project #main .proj-cont .proj-sect .img-caption {
    font-size: 1rem;
    margin: .5rem auto;
}

.project #main .proj-cont .proj-sect p.footnote {
    color: var(--txGrey);
    font-size: 0.8em;
    max-width: 40em;
}

.project #main .proj-cont .proj-sect .timeline span {
    color: var(--txGrey);
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}

.project #main .proj-cont .proj-sect .scrollable {
    border-radius: 1px;
/*    margin-bottom: 40px;*/
    overflow-x: scroll;
    position: relative;
    width: calc(100% + 40px);
}

.project #main .proj-cont .proj-sect .scrollable h4 {
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

.project #main .proj-cont .proj-sect .scrollable object {
    width: 1500px;
}

.project #main .proj-cont .proj-sect .collage {
    margin-left: 0;
}


.project #main .proj-cont .proj-sect .collage .cont-meta {
    font-size: 0.8em;
    font-weight: 300;
}

.project #main .proj-cont .proj-sect .collage .cont-desc {
    margin-top: 1em;
}

@media screen and (min-width: 768px) {
    .project #main .proj-cont .proj-sect div.row,
    .project #main .proj-cont .proj-sect img {
        max-width: 35em;
    }
    .project #main .proj-cont .proj-sect .chart,
    .project #main .proj-cont .proj-sect .images,
    .project #main .proj-cont .proj-sect .collage {
        margin-top: 2em;
        max-width: 35em;
    }
    .project #main .proj-cont .proj-sect .nav-tabs {
        max-width: calc(35em + 16px);
    }
    .project #main .proj-cont .proj-sect .tab-content > .tab-pane {
        margin-top: -2em;
    }

    .project #main .proj-cont .proj-sect .scrollable {
        max-width: none;
    }

}

@media screen and (max-width: 767px) {
    .project #main .proj-cont .proj-sect div[id^='pj-proc-'] > h3 {
        margin-top: -3em;
        padding-top: 5em;
    }
}


.project #more {
    overflow: hidden;
}

.project #more .container {
    padding: 3em 15px 1.5em 15px;
}

.project #more h1 {
    color: #fff;
    text-align: center;
}

.project #more #more-content {
    margin-top: -1.5rem;
}

.project #more #main {
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[class^='more-subtitle'] {
    color: var(--borderGrey);
    font-size: 0.8em;
    margin-top: -2em;
    margin-bottom: 1em;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .project #more .container {
        padding-bottom: 3em;
    }
    div.more-subtitle-2 {
        margin-top: 1em;
    }
}

/*
    -- RESUME --

     * the resume page
*/

#resume h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--txGrey);
    border-bottom: .5px solid;
}

#resume h3 {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 500;
/*    font-style: italic;*/
    margin: 0;
    margin-top: .5rem;
}

#resume .container > .row > div:first-of-type {
    padding-right: 40px;
}

.project #main section[id^='cv-'] {
    margin-left: 0;
    margin-bottom: 40px;
}

.project #main section[id^='cv-'] .cv-unit{
    margin-bottom: 40px;
}

.project #main section[id^='cv-'] .cv-org {
    display: inline;
    font-weight: 400;
    margin-right: 8px;
}

.project #main section[id^='cv-'] .cv-loc {
    display: inline;
    font-weight: 300;
}

.project #main section[id^='cv-'] .cv-time {
    color: var(--primary);
    font-weight: 400;
    font-size: 1.25rem;
    text-align: right;
    white-space: nowrap;
}

.project #main section[id^='cv-'] .cv-title {
    color: var(--primary);
    font-weight: 500;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.25;
}

.project #main section[id^='cv-'] ul {
    max-width: 50rem;
    margin-top: 8px;
    margin-bottom: 1.5em;
    padding-left: 0px;
    line-height: 1.25;
}

.project #main section[id^='cv-'] li {
    margin-bottom: 0.25em;
}

.project #main section[id^='cv-'] .cv-desc li {
    margin-bottom: 0.75em;
    margin-left: 1rem;
    padding-left: .25rem;
}



footer {
    border-top: 1px #fff solid;
    padding: 40px 0 80px 0;
    font-size: 1rem;
}

footer .ft-heading h1 {
    font-size: 2.25rem;
}

#contact {
    color: var(--primary);
    font-size: 1.25rem;
    margin: 16px 0;
}

#contact .cont-unit {
    margin-right: 40px;
}

#contact .icon {
    margin-right: 4px;
}

#contact .label {
    white-space: nowrap;
}

#copyright {
    margin-top: 1rem;
    margin-right: 8px;
}


.btm-top {
    color: var(--txBlack);
    display: inline-block;
/*    margin: 2.5em 1.5em 0 1.5em;*/
}

.btm-top:hover {
    color: var(--primary);
}

/* SVG Interactivity */

svg text ::-moz-selection {
    background: #ffb7b7;
}

svg text ::selection {
    background: #ffb7b7;
}

#cvp_concept {
    margin-top: 1.5em;
}

#cvp_concept > g {
    display: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#cvp_concept > #cvp_cpt-profile {
    display: block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

[id^='control_'] > g > circle {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    fill: var(--primary);
}

[id^='control_'] circle:hover {
    cursor: pointer;
    fill: var(--secondary);
    r: 7;
}

/* MOBILE only for readibility & styling */

@media screen and (max-device-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
        font-weight: normal;
    }


    nav .title-inner {
        margin-top: -.25em;
    }
    nav .nav-item a.nav-link {
        font-size: 1.25rem;
        margin-top: -.25em;
    }
    nav .dropdown-item {
        font-size: 1rem;
    }

    #main .h-proj-img img {
        aspect-ratio: 1 / 1;
        height: auto;
    }
    #main .h-proj-desc {
        font-size: 1.25rem;
    }
        #main .h-proj-label {
        font-size: 1rem;
    }
    .project #main .proj-meta {
        text-align: center;
    }
    .project #main .proj-cont .container > .row {
        padding: 0 15px;
    }
    .project #main .proj-cont .container > .row > div {
        width: calc(100% + 45px);
    }
    .project #main .proj-cont #sidenav .sn-header {
        display: none;
    }
    .project #main .proj-cont #sidenav li > a {
        font-size: 16px;
    }
    .project #main .proj-cont #sidenav a.sn-top {
        right: 0;
    }
    .project #main .proj-cont article {
        margin-top: -6em;
    }
    .project #main .proj-cont article p,
    .project #main .proj-cont article ol {
        /*        font-family: 'Open Sans';*/
        font-size: 22px;
        /*        font-weight: normal;*/
        line-height: 1.5;
    }
    .project #main .proj-cont article object {
        margin-left: -15px;
        width: calc(100% + 30px);
    }
    .project #main .proj-cont .proj-sect h2 {
        font-size: 20px;
        margin-left: -15px;
        padding-top: 3.5em;
        padding-left: 15px;
        width: calc(100% + 30px);
    }
    .project #main .proj-cont .proj-sect > .sect-top {
        margin-top: -3em;
        top: calc(1.5em + 8px);
    }
    .project #main .proj-cont .proj-sect h3 {
        border-bottom: 1px solid var(--shadowGrey);
        /*        color: var(--primary);*/
        font-size: 26px;
        margin-left: -30px;
        margin-right: 80px;
        padding-left: 30px;
        padding-bottom: .5em;
        /*        white-space: nowrap;*/
    }
    .project #main .proj-cont .proj-sect h4 {
        font-size: 20px;
    }
    .project #main .proj-cont .proj-sect img {
        margin-left: -30px;
        width: calc(100% + 60px);
    }
    .project #main .proj-cont .proj-sect .images.row img {
        margin-left: 0px;
        width: 100%;
    }
    .project #main .proj-cont .proj-sect .quote {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .project #main .proj-cont .proj-sect .quote > p {
        font-weight: 300;
        line-height: 1.5;
    }
    .project #main .proj-cont .proj-sect div.chart.timeline {
        background-color: #fff;
        border-radius: 1px;
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
        margin-left: -30px;
        margin-bottom: 3em;
        overflow-x: scroll;
        padding-top: 0.5em;
        position: relative;
        width: calc(100% + 60px);
    }
    .project #main .proj-cont .proj-sect div.timeline h4,
    .project #main .proj-cont .proj-sect div.timeline span {
        left: 30px;
        margin: 15px 30px;
        position: -webkit-sticky;
        position: sticky;
        text-align: left;
    }
    .project #main .proj-cont .proj-sect div.timeline span {
        font-size: 1em;
        margin-top: 0;
    }
    .project #main .proj-cont .proj-sect div.timeline object,
    .project #main .proj-cont .proj-sect div.timeline img {
        margin: 15px;
        margin-left: 30px;
        min-width: 768px;
    }
    .project #main .proj-cont .proj-sect div.timeline .full-width {
        min-width: inherit;
        width: calc(100% - 45px);
    }
    .nav-tabs {
        margin-left: -30px;
        padding-left: 30px;
        width: calc(100% + 60px);
    }
    .nav-tabs .nav-item.show a.nav-link,
    .nav-tabs a.nav-link.active,
    .nav-tabs a.nav-link.active:hover {
        background-color: #fff;
        border-bottom-color: #fff;
    }
    .project #main section[id^='cv-'].proj-sect h3 {
        border: none;
        font-size: 20px;
    }
    .project #main .proj-cont .proj-sect .collage div {
        margin-bottom: 15px;
    }
    .project #main .proj-cont .proj-sect .collage .cont-desc {
        font-size: 20px;
    }

}

#Reading-progress {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 5px;
    margin: 0px;
    left: 0px;
    z-index: 299;
}

.bar {
    /*    background: -webkit-gradient(linear, left top, right top, from(var(--teritary)), color-stop(var(--primary)), to(var(--secondary)));*/
    /*    background: linear-gradient(to right, var(--teritary), var(--primary), var(--secondary));*/
    background-color: var(--primary);
    height: 5px;
    position: fixed;
    top: 0px;
    z-index: 299;
}

/* Embed PDF from Onedrive */

#Embed.default.F.A {
    background: transparent !important;
}

.WACPageBorder,
.WACFrameWord {
    border: none !important;
}

/* Embed Capstone Prototype */

#capstone-prototype {
    padding: 0 !important;

    /*    transform: scale(calc(1080/1280));*/
}
