@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

html,
body {
    height: 100%;
    font-size: 100%;
    min-width: 480px;
/*    max-width: 1280px;*/
    margin: 0 auto;
}

a:hover, a:visited, a:focus {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

/* Wrapper */
#wrapper {
    height: 100%;
/*    max-width: 1440px;*/
    margin: 0 auto;
}

	#wrapper > * > .inner {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 2.5em;
	}

		@media screen and (max-width: 768px) {

			#wrapper > * > .inner {
				padding: 0 1.25em;
			}

		}

/*
  .affix {
      top: 0;
      width: 100%;
      z-index: 900;
  }
*/


/* Header */

    #header {
        padding: 2em 0 2em 0;
        text-align: center;
        margin: 0;
        background-color: #f6f6f6;
        transition: 0.5s ease-in-out;
    }

    #header .logo {
        display: block;
        border-bottom: 0;
        color: inherit;
        font-weight: 900;
        letter-spacing: 0.35em;
        margin-bottom: 1em;
        text-decoration: none;
        text-transform: uppercase;
    }

        #header .logo > * {
            display: inline-block;
            vertical-align: middle;
        }

        #header .logo .title {
            font-size: 2.5em;
        }

        #header .logo:hover .title {
            color: #33b599;
        }

        #header .logo .subtitle {
        }

/* Menu */

#header #menu {
    text-align: center;
    margin-top: 2em;
    display: block
        
}

   #header #menu > ul {
        list-style: none;
        padding: 0px;
        display: block;
    }

       #header #menu > ul > li {
            display: inline-block;
            margin: 0 0.8em;
            
        }

            #header #menu > ul > li > a {
                border-radius: 4px;
                height: 3em;
                line-height: 3em;
                padding: 0.5em 1.2em;
                background-color: transparent;
                font-size: 1em;
                font-weight: 900;
                transition: 0.3s ease;
            }
        
            @media screen and (max-width: 768px) {
                #header #menu > ul > li {
                    margin: 0 0.5em;
                }
                
                #header #menu > ul > li > a {
                    font-size: 0.9em;
                    line-height: 2.5em;
                }
            }

            @media screen and (max-width: 480px) {
                #header #menu > ul > li {
                    margin: 0 0.25em;
                }
            }

            #header #menu > ul > li > a:hover, 
            #header #menu > ul > li > a.active {
                border: 0.5px solid;
            }

            .dropdown:hover .dropdown-menu {
                display: block;
            }

                #header #menu > ul > li a .dropdown-menu {
                    border-radius: 0px;
                }

    #header.nav-show {
        position: fixed;
        transition: 0.5s;
    }

    #header.nav-hide {
        position: absolute;
        top: -80px;
    }

/* Header-collapsed */


#header.collapsed {
    top: 0px;
    z-index: 100;
    width: 100%;
    padding: 15px 0;
    transition: top 0.5s ease-in-out;
}

    #header.collapsed .inner {
        display: inline-block;
        width: auto;
    }

        #header.collapsed .inner .logo {
            margin-bottom: 0;
        }

            #header.collapsed .inner .logo .title {
                font-size: 2em;
            }

    #header.collapsed #menu {
        display: inline-block;
        margin-top: 0;
    }

/*
#header.homepage {
    position: fixed; 
}
*/

#desc {
    padding-top: 1em;
}

#desc a {
    color: #33b599;
    border-bottom: 2px dotted;
}

#desc a:hover {
    border-bottom: solid;
}

/* Main */


#main {
    text-align: center;
    padding: 0 0 6em 0;
/*    background-color: #f6f6f6;*/
}

#main.homepage {
    background-color: #f6f6f6;
}

@media screen and (max-width: 768px) {
    #main {
        padding: 1em 0 4em 0;
    }
}

    #main header {
        margin-top: 2em;
        padding: 0.5em 0 0 0;

    }

        #main header h1 {
            font-weight: 300;
        }

    #main .space {
        height: 2em;
    }

    #main .container {
/*        padding-top: 2em;*/
    }

    /* Sidebar */

    #main .sidebar {
        text-align: right;
    }
        #main .sidebar li a {
            border: none;
            margin: 2px 0;
        }

        #main .sidebar li.active a {
            color: #33b599;
            font-weight: 700;
            border-right: 5px solid;
            background-color: #eee;
        }

    #main #pj-cont {
        padding-left: 3em;
    }

        #main #pj-cont section {
            text-align: left;
            padding: 1em 0 0.5em 0;

        }

            #main #pj-cont section h2 {
                text-transform: none;
                font-weight: 300;
                font-size: 1.8em;
                letter-spacing: inherit;
                border-bottom: 1px solid #585858;
                padding: 5px 0.5em;
            }

            #main #pj-cont section article {
                padding: 0 0 0 2em;
            }

                #main #pj-cont section article h3 {
                    color: #33b599;
                    margin-left: -1em;
                }

                #main #pj-cont section article div{
                    margin-bottom: 2em;
                }

                    #main #pj-cont section article div p{
                        margin-bottom: 0.5em;
                    }

                #main #pj-cont section article p a {
                    color: #33b599;
                    border-bottom: 2px solid;
                }

                #main #pj-cont section article p a:hover {
                    color: #33b599;
                    border-bottom: 2px dotted;
                }

                span.highlight {
                    background-color: rgba(242, 216, 106, 0.31);
                }

                #main #pj-cont section article .disclaimer {
                    font-style: italic; 
                }

                #main #pj-cont section article div.row {
                    padding-top: 1em;
                }


                    #main #pj-cont section article div.cont-img img{
                        width: 100%;
                    }

                    #main #pj-cont section article div.row div.cont-img-desc p{
                        font-size: 0.8em;
                        margin-bottom: 1em;
                    }


/* Banner */

    #banner {
		position: relative;
        padding: 3em 0 0 0;
/*		background: url(image/bannerbg.jpg) no-repeat;*/
		background-size: cover;
/*        color: #fff;*/
	}

/*
    #banner.yumbot {
        background: url(projects/yumbot/header-bg.png);
        background-position: right;
    }
*/

    #banner .container {
        padding: 0 7em;
        margin: 0 auto;
        text-align: center;
    }

    @media screen and (max-width: 1200px) {
        #banner .container {    
            padding: 0 5em;
        }
    }

    @media screen and (max-width: 992px) {
        #banner .container {    
            padding: 0 4em;        
        }
    }

    @media screen and (max-width: 768px) {
        #banner .container {
            padding: 0 5em;
        }
    }
  
        #banner header {
            margin: 0 0 2em 0;
        }

            #banner header h1 {
                font-size: 2.8em;
                margin: 0 0 0.5em 0;
            }

            #banner header h4 {
                margin: 0 auto;
                text-transform: none;
                width: 70%;
            }

        #banner .pj-time {
            display: block;
        }

        #banner a {
            color: inherit;
            border-bottom: 1px solid;
            border-color: inherit;
        }

        #banner a:hover {
            color: #33b599;
            border-bottom: 1px dotted;
        }

		#banner .image {
			margin-bottom: 2em;
			padding: 1em;
			box-shadow: 0 6px 0px -1px rgba(0, 0, 0, 0.2);
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

			#banner .image img {
				margin: 0em;
				padding: 0;
				border: 4px solid rgba(255, 255, 255, 0.5);
				border-radius: 50%;
			}


/* Quote */
#quote {
    background-color: #585858;
    padding: 3em 7em;
    color: #f6f6f6;
}

/* Footer */

#footer {
    text-align: center;
    padding: 5em 0;
    background-color: #f6f6f6;
}
    #footer #follow {
        font-size: 2em;
        margin: 0 auto;
    }

    #footer .icon {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			background-color: transparent;
			border: solid 1px #c9c9c9;
			border-radius: 4px;
			width: 2.65em;
			height: 2.65em;
			display: inline-block;
			text-align: center;
			line-height: 2.65em;
			color: inherit;
		}
    
    #footer .fa-twitter {
        display: none;
    }

    @media screen and (max-width: 992px) {       
        #footer .icon {
            width: 2.25em;
            height: 2.25em;
            line-height: 2.25em;
        }
    }

    @media screen and (max-width: 768px) {       
        #footer .icon {
            width: 2em;
            height: 2em;
            line-height: 2em;
        }
    }

    @media screen and (max-width: 480px) {       
        #footer .icon {
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
        }
    }

        #footer .icon:before {
            font-size: 1.1em;
        }

        #footer .icon:hover {
            color: #33b599;
            border-color: #33b599;
        }

        #footer .icon:active {
            background-color: rgba(242, 132, 158, 0.1);
        }

/* affix */
.affix.sidebar {
    top: 20px;
}

@media (min-width: 768px) {
    .affix.sidebar {
        width: calc(750px * 0.25);
        padding-right: 30px;}
}

@media (min-width: 992px) {
    .affix.sidebar {
        width: calc(970px * 0.25);
        padding-right: 2em;}
}

@media (min-width: 1200px) {
    .affix.sidebar {
        width: calc(1170px * 0.25);
        padding-right: 2em;}
}

.affix-bottom.sidebar {
    position: relative;
}

/* Intro */

#intro {
    text-align: center;
    padding: 2em 0;
}

    #intro .inner {
        display: inline-flex;
        align-items: center;
        width: auto;
/*        text-align: left;*/
    }

	#intro .image {
		-moz-transition: opacity 0.75s ease-in-out;
		-webkit-transition: opacity 0.75s ease-in-out;
		-ms-transition: opacity 0.75s ease-in-out;
		transition: opacity 0.75s ease-in-out;
        display: block;
        margin: 0 4em 2em 0;
        width: 15em;
        border-radius: 0.5rem;
        border: 0;
        position: relative;
	}
    
        #intro .image img {
            border-radius: 100%;
            width: 100%;
            display: block;
        }
        

	#intro .content {
		-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
		-ms-transition: -ms-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
		transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
		-moz-transition-delay: 0.35s;
		-webkit-transition-delay: 0.35s;
		-ms-transition-delay: 0.35s;
		transition-delay: 0.35s;
	}

        #intro .content ul {
            list-style: none;
            padding: 0;
        }

	body.is-loading #intro .image {
		opacity: 0;
	}

	body.is-loading #intro .content {
		-moz-transform: translateX(0.5em);
		-webkit-transform: translateX(0.5em);
		-ms-transform: translateX(0.5em);
		transform: translateX(0.5em);
		opacity: 0;
	}

		@media screen and (max-width: 980px) {

			body.is-loading #intro .content {
				-moz-transform: translateY(0.35em);
				-webkit-transform: translateY(0.35em);
				-ms-transform: translateY(0.35em);
				transform: translateY(0.35em);
			}

		}
div.full-sec {
    text-align: center;
}

div.full-sec > .inner li, div.full-sec > .inner p.banner-text {
    margin: 0;
    font-size: 1.5em;
}

@media screen and (max-width: 992px) {
    div.full-sec > .inner li, div.full-sec > .inner p.banner-text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
    div.full-sec > .inner li, div.full-sec > .inner p.banner-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    div.full-sec > .inner li, div.full-sec > .inner p.banner-text {
        font-size: 1em;
    }
}


#character {
    background-color: #f6f6f6;
    text-align: center;
    padding: 2em 0;
}

#character .container {
    max-width: 960px;
}

#character .char-icon {
    width: 156px;
    height: 156px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 100%;
    
}

#issues {
    background-color: #585858;
    height: 300px;
}

/* Carousel */

#slider-thumbs ul.list-inline img {
    width: 110px;
}

#slider {
    padding: 0;
}

#main #pj-cont section article #slider div {
    margin-bottom: 0;
}

div.carousel-inner div.item p{
    margin-left: -1em;
}

#Carousel_sol div.carousel-inner div.item img {
    width: 300px;
    margin: 0 auto;
}

div.carousel a.carousel-control {
    background: #33b599;
    text-shadow: none;
    font-size: 1.5em;
    opacity: 1;
    width: 15%;
    height: 10%;
    top: 85%;
}

div.carousel a.carousel-control:hover {
    color: #ffffff;
    background: rgba(51, 181, 153, 0.8);
   
}

div.carousel a.carousel-control.left {
    left: 50%;
}

/* Buuton */ 

.btn {
    background-color: #33b599 !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none;
}

.btn:hover {
    color: #ffffff !important;
    background: rgba(51, 181, 153, 0.8) !important;
    box-shadow: none;
}