:root {
    --primary: #0099FF;
}

html,
body {
    font-family: "Roboto", Sans-serif;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 480px;
    overflow-x: hidden;
}

a {
    color: var(--primary);
}

img {
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 540px;
}

.icon-btn {
    display: inline-block;
    padding: 5px;
}

.icon-btn.disable,
.icon-btn.disable:hover,
.icon-btn.disable span,
.icon-btn.disable:hover span {
    color: #aaa;
    cursor: default;
}

.icon-btn span {
    font-size: 22px;
    cursor: pointer;
    color: #666;
}

.icon-btn span.btn-text {
    font-size: 12px;
    font-weight: 300;
    color: #888;
}

.icon-btn:hover span {
    color: #222;
}

.wrapper > header {
    width: 100%;
    height: 11%;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 2px 3px rgba(150, 150, 150, .5);
    box-shadow: 0px 2px 3px rgba(150, 150, 150, .5);
    z-index: 180;
    position: absolute;
    opacity: .95;
}

.wrapper > header nav {
    width: 100%;
    padding: 15px;
}

.wrapper > header h1 {
    position: absolute;
    left: 20px;
    font-size: 24px;
    margin-top: 5px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.wrapper > header h1 > span {
    font-size: 20px;
    margin-left: 8px;
}

.wrapper > header h1:hover {
    color: #333;
    cursor: pointer;
}

.wrapper > header .filter {
    margin: 0 10px 20px 10px;
    display: inline-block;
    text-align: left;
}

.wrapper > header .filter-title {
    display: block;
    font-size: 10px;
    font-weight: 300;
}

.wrapper > header filter-opt {
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    color: #333;
}

.wrapper > header .filter .fa-caret-down {
    margin-left: 5px;
    color: #666;
}

.wrapper > header .icon-btn .filter-add {
    font-size: 16px;
    margin-left: 10px;

}

.wrapper > header .plus {
    margin: 0 10px;
    font-weight: 100;
}


.nav-left,
.nav-right {
    /*    display: inline-block;*/
}

.nav-left {
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.nav-left a {
    margin-right: 20px;
}

.nav-left.shrink {
    /*    width: 27%;*/
}

.nav-left.shrink h1 {
    /*    width: 322px;*/
    margin-right: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
}

.nav-right {
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}

.nav-right .switch {
    position: absolute;
    right: 120px;
    top: 0;
    margin-top: 8px;
}

.nav-right [class^="switch-text-"] {
    position: absolute;
    margin-top: -5px;
    top: 0px;
    left: 40px;
    width: 55px;
    font-size: 10px;
    color: #aaa;
}

.nav-right .switch-text-show {
    display: none;
}

.nav-right .switch-text-hide {
    color: var(--primary);
}

#filters {
    display: none;
    width: 100%;
    height: 85%;
    position: absolute;
    top: 15%;
    background-color: rgba(0, 0, 255, .9);
    z-index: 170;
}

#stack {
    width: 200%;
    height: 89%;
    top: 11%;
    position: absolute;
    z-index: 80;
}

#stack .ctrl {
    position: absolute;
    height: 100%;
    z-index: 100;
    width: 65px;
    background-color: rgba(230, 230, 230, .5);
    padding: 20px 10px;
    display: table-cell;
    vertical-align: middle;
}

#stack .ctrl:hover {
    /*    background-color: rgba(230, 230, 230, .3);*/
    /*    cursor: point er;*/
}

#stack .ctrl-left {
    left: 0;
}

#stack .ctrl-right {
    left: 50%;
    margin-left: -65px;
}

#stack .ctrl a {
    height: 80px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#stack .ctrl span {
    /*
    height: 100%;
    width: 100%;
*/
}

#stack-container {
    width: calc(50% - 120px);
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 60px;
    white-space: nowrap;
    background-color: #eee;
    /*    border-top: 1px solid #bbb;*/
}

#stack .placeholder {
    width: 290px;
    height: 80%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    /*    background-color: #888;*/
}

#stack .placeholder .placeholder-container {
    margin-top: 50px;
    color: #999;
    width: 200px;
    white-space: normal;
}

#stack .placeholder p {
    width: 180px;
    font-size: 24px;
    font-weight: 300;

}

#stack .placeholder h6 {
    margin-top: 20px;
}

#stack .placeholder a {
    font-size: 14px;
}

#stack .placeholder:first-of-type {
    border-right: 2px solid #ddd;
    margin-right: 15px;
}

#stack .placeholder:last-of-type {
    border-left: 2px solid #ddd;
    margin-left: 15px;
}

#stack .placeholder:first-of-type .placeholder-container {
    float: right;
    text-align: right;
    margin-right: 30px;
}

#stack .placeholder:last-of-type .placeholder-container {
    margin-left: 30px;
}

.item {
    margin: .25px;
    margin-top: 30px;
    background-color: #ddd;
    border-radius: 2px 2px 4px 4px;
    border-color: #ccc;
    border-top: none;
    border-bottom: 3px groove #ccc;
    border-right: 1px solid #aaa;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    background-size: cover;
    background-position: center top;


    -webkit-box-shadow: /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    2px 4px 0 -3px #eee,
    /* The second layer shadow */
    2px 4px 1px -2px rgba(0, 0, 0, 0.15),
    /* The third layer */
    4px 7px 0 -5px #eee,
    /* The third layer shadow */
    4px 7px 1px -4px rgba(0, 0, 0, 0.15);


    box-shadow: /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */
    2px 4px 0 -3px #eee,
    /* The second layer shadow */
    2px 4px 1px -2px rgba(0, 0, 0, 0.15),
    /* The third layer */
    4px 7px 0 -5px #eee,
    /* The third layer shadow */
    4px 7px 1px -4px rgba(0, 0, 0, 0.15);
}

.item:hover {
    opacity: .8;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.item-w-1 {
    width: 6%;
}

.item-h-1 {
    height: 70%;
}

.item-w-2 {
    width: 7%;
}

.item-h-2 {
    height: 77%;
}

.item-w-3 {
    width: 5%;
}

.item-h-3 {
    height: 60%;
}

.item-title {
    height: 100%;
    margin: 0;
    padding: 10px;
    right: 5px;
    top: 5px;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: none;
}

.item-title h4 {
    /*    width: 100%;*/
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    text-orientation: sideways;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;

    text-overflow: ellipsis;
    overflow: hidden;

    /*
    white-space: normal;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
*/
    height: 70%;
}

.item span.author {
    position: absolute;
    width: 80%;
    bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    white-space: normal;

    right: 0;
    text-orientation: sideways;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;

    /*    right: 15px;*/
}

.item span.year {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 105%;
    font-weight: 300;
    font-size: 12px;
    opacity: .8;
    color: #333;
}

.item-index {
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    font-size: 12px;
    opacity: .3;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.item .item-content {
    display: none;
}

.item_selected {
/*    width: 576px;*/
    border: none;
    margin-left: .5px;
    margin-right: .5px;
    background-size: 100%;
    background-repeat: repeat-x;
}

.item_selected:hover {
    background-color: inherit;
    cursor: default;
    pointer-events: none;
}

.item_selected .item-title, .item_selected .item-index {
    opacity: 0;
}

#pop-up {
    /*    background-color: #e8f8fd;*/
    background-color: #fff;
    border-radius: 3px 3px 0 0 ;
    position: absolute;
    margin: 0 auto;
    width: 45%;
    height: 87%;
    top: 13%;
    left: 27.5%;
    display: none;
    z-index: 100;
    padding: 25px 30px 15px 30px;
    -webkit-box-shadow: 0px 2px 6px rgba(200, 200, 200, 5);
    box-shadow: 0px 2px 6px rgba(200, 200, 200, 5);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#pop-up-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

#pop-up header {
    /*    padding: 30px;*/
    text-align: center;
    margin-bottom: 10px;
}

#pop-up h2 {
    font-size: 18px;
    -webkit-transition: all 0.15 ease;
    transition: all 0.15 ease;
    display: block;
    width: 60%;
    margin: 5px auto;
}

#pop-up .author {
    font-size: 14px;
    margin-left: 20px;
}

#pop-up .year {
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
}

#pop-up header .icon-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    opacity: .5;
}


#pop-up header .icon-btn span {
    font-size: 16px;
}

#pop-up header .icon-btn.new-window {
    right: 40px;
    padding-top: 7px;
}

#pop-up .preview-btn {
    position: absolute;
    left: 0;
    top: 0;
    margin: 30px;
    width: 80px;
}

#pop-up .nav {
    margin: 0 auto;
    width: 100%;
    /*    height: 120px;*/
    float: none;
    text-align: center;
    border-bottom: none;
    border-bottom-right-radius: .1rem;
    border-bottom-left-radius: .1rem;
    padding: 0 5px;
    background-color: #fff;

    z-index: 250;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

#pop-up .nav-item {
    margin-right: 5px;
    padding-bottom: 20px;

}

#pop-up .nav-link {
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    border-bottom: .5px #666 solid;
}

#pop-up .nav-link.active {
    font-size: 14px;
    border: none;
    border-bottom: 2px #666 solid;
    color: #666;
}

#pop-up .nav-link.active:hover {
    color: #666;
    border-color: #666;
    pointer-events: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#pop-up .nav-link:hover {
    border: none;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

#pop-up .item-content {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: -15px;
}

#pop-up .item-content h5 {
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 20px auto;
}

#pop-up .tab-pane {}

#pop-up #detail .item-img {
    margin: 0 auto;
    /*    width: 350px;*/
    height: 180px;
}

#pop-up #detail .item-img img {
    width: 100%;
}

#pop-up .slider-container {
    margin: 20px auto 20px auto;
    width: 330px;
    position: relative;
}

#pop-up .slider {
    width: 100%;
    background: #ddd;
    outline: none;

}

#pop-up .slider-label {
    margin-top: -10px;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
}

#pop-up .slider-label:last-of-type {
    right: 0;
}

#pop-up .sugTitle {
    /*    text-align: center;*/
    line-height: 1 !important;
    padding-right: 15px;
    /*    margin-left: -5px;*/
    /*    margin-left: 0;*/
    /*    margin-right: 5px;*/
}

#pop-up .sugTitle > a {
    font-size: 12px;
    width: 100%;
}

img.mockup {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

#pop-up .sugWhy {
    /*    text-align: center;*/
}

#pop-up .sugWhy > span {
    margin-left: 25px;
    font-size: 12px;
    font-weight: 300;
    color: #aaa;
    text-decoration: underline;

}

#bottom {
    height: 70px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#bottom .icon-btn {
    display: inline-block;
}

#bottom .forward,
#bottom .next {
    float: right;
}

#bottom .prev,
#bottom .next {
    display: none;
    position: absolute;
}

#bottom .prev {
    left: 25%;
}

#bottom .next {
    right: 25%;
}


/* Alt - Alinged Items at Bottom */

#stack.itemAlignedBtm #stack-container {
    bottom: 0;
}

#stack.itemAlignedBtm .item {
    vertical-align: bottom;
    bottom: 0;
    margin-top: 80px;
}

/* Round Switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
