@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url(css/fontawesome-all.css);


:root {
    --primary: #33b599;
    --secondary: #fac339;
    --bgDarkgreen: #0a231e;
    --bgLightgrey: #f7f7f7;
    --borderGrey: #dddddd;
    --shadowGrey: #aaaaaa;
    --txGrey: #888888;
}

body {
    /*    height: 100%;*/
    font-size: 100%;
    min-width: 576px;
    margin: 0 auto;
    font-family: "Roboto";
    position: relative;
    background-color: var(--bgDarkgreen);
}

a {
    color: var(--primary);
}

a.ext-link {
    border-bottom: 0.5px dashed;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #000;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.3;
}

h2 {
    line-height: 1.5;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0.5em 0 0.25em 0;
}

h3 {
    font-size: 1.2em;
}

[class^='fa-'] {
    font-family: FontAwesome;
}

#wrapper {
    /*    height: 100%;*/
    max-width: 1512px;
    margin: 0 auto;
}

.page {
    z-index: 105;
    position: relative;
    background-color: var(--bgLightgrey);
    margin: 0 auto;
    width: 100%;
    -webkit-transition: -webkit-transform 0.2s 0.3s;
    transition: -webkit-transform 0.2s 0.3s;
    transition: transform 0.2s 0.3s;
    transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
    -webkit-box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.76), 3px 0px 5px rgba(0, 0, 0, 0.64), -5px 0px 3px rgba(0, 0, 0, 0.76), -3px 0px 5px rgba(0, 0, 0, 0.64);
    box-shadow: 5px 0px 3px rgba(0, 0, 0, 0.76), 3px 0px 5px rgba(0, 0, 0, 0.64), -5px 0px 3px rgba(0, 0, 0, 0.76), -3px 0px 5px rgba(0, 0, 0, 0.64);
    z-index: 100;
}

@media screen and (min-width: 1512px) .page {
    width: 90%;
}

#header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

#header .container {
    max-width: none;
    margin: 0px auto;
    padding: 0 30px;
}

@media screen and (min-width: 1200px) {
    #header .container {
        max-width: 1140px;
    }
}

nav.navbar {
    width: 100%;
    padding: 1rem 0px;
}

nav a.navbar-brand {
    height: 80px;
    color: #000;
    padding: 0;
}

nav .logo {
    margin-right: 1rem;
    width: 80px;
    height: 80px;
}

nav .title-inner {
    height: 80px;
    padding: 0.5rem 0;
}

nav .name {
    font-size: 24px;
    font-weight: 700;
    margin-right: 1rem;
}

nav .subtitle {
    font-size: 16px;
    color: var(--txGrey);
}

@media screen and (max-width: 768px) {
    header {
        height: 140px;
    }
    nav .title-inner {
        height: auto;
    }
    nav .name,
    nav .subtitle {
        height: 40px;
    }
}

nav a.navbar-brand:hover {
    border: none;
}

nav a.navbar-brand:hover .logo {
    -webkit-filter: opacity(75%);
    filter: opacity(75%);
}

nav a.navbar-brand:hover .name {
    color: var(--primary);
}

nav a.navbar-brand:hover .subtitle {
    color: var(--shadowGrey);
}

nav div.menu {
    width: calc(100% - 110px);
    display: inline-block;
    top: -25px;
    margin-left: 80px;
    position: relative;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--borderGrey);
}

nav .navbar-nav {
    width: 100%;
}

nav .nav-item {
    margin: 0 1rem 0 0.5rem;
    font-size: 1rem;
}

nav .nav-item a.nav-link {
    color: var(--txGrey);
}

nav .nav-item a.nav-link:hover,
nav .nav-item a.nav-link.active {
    color: var(--primary);
    border: none;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .navbar div.menu {
        width: 40%;
        height: 100%;
        top: auto;
        margin-left: auto;
        margin-top: 0;
        padding-top: 0;
        border: none;
    }
    .navbar .menu .navbar-nav {
        margin-top: 0.75rem;
    }
}

nav .dropdown {
    padding-bottom: 0.75rem;
}

nav .dropdown:hover .dropdown-menu {
    display: block;
}

nav .dropdown-menu {
    font-size: 0.8em;
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 0px rgba(0, 0, 0, 0.24);
}

nav .dropdown-item {
    color: var(--txGrey);
    font-weight: 300;
    overflow: hidden;
    padding: 1.25rem 1rem;
    border-left: 3px solid transparent;
}

nav .dropdown-item:hover {
    color: var(--primary);
    font-weight: 700;
    background-color: #fff;
    border-color: var(--primary);
/*    border-bottom: none;*/
}

nav .dropdown-item.active {
    pointer-events: none;
    color: #000;
    font-weight: 700;
    background-color: inherit;
    border-color: #000;
}

#main {
    width: 100%;
}

#main > .container {
    margin: 32px auto;
}

#main .project-item {
    margin: 15px auto;
    padding: 0;
    height: 200px;
    border-radius: 2px;
}

#main .project-item:hover .project-url {
    transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#main .project-item:hover .project-img {
    -webkit-filter: opacity(85%);
    filter: opacity(85%);
}

#main a.project-url {
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: transparent;
}

#main a.project-url:hover {
    border: none;
}

#main .project-img {
    width: 200px;
    height: 100%;
    /*    background-color: var(--borderGrey);*/
}

#main .project-img img {
    width: 200px;
    height: 100%;
}

#main .project-meta {
    padding: 1.5rem 1.5rem;
    background-color: #ffffff;
    color: #000;
    height: 200px;
}

#main .project-url,
#main .project-img,
#main .project-meta {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#main .project-img,
#main .project-meta {
    /*    border-bottom: 1px solid var(--shadowGrey);*/
}

#main .project-label {
    font-size: 11px;
    font-weight: 300;
    color: var(--txGrey);
}

#main .project-title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0.5rem 0;
    color: black;
}

#main .project-desc {
    font-size: 0.8rem;
    line-height: 1.25;
    font-weight: 300;
    color: var(--txGrey);
}

@media screen and (min-width: 992px) {
    #main .project-item {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1200px) {
    #main .project-item {
        height: 230px;
        padding: 0 20px;
    }
    #main .project-img {
        width: 230px;
    }
    #main .project-img img {
        width: 230px;
    }
    #main .project-meta {
        height: 230px;
    }
    #main .project-title {
        font-size: 1.25rem;
    }
}

.project #main {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.64), 0 1px 2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.72), 0 1px 2px rgba(0, 0, 0, 0.84);
    line-height: 1.75;
    z-index: 50;
}

.project #main h2 {
    text-transform: uppercase;
}

.project #main p,
.project #main ul,
.project #main a,
.project #main span {
    font-weight: 300;
}

.project #main .container {
    max-width: none;
    margin: 0px auto;
    padding: 1.5em 15px;
}

.project #main .proj-header {
    height: 160px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.project #main.proj-cvp .proj-header {
    background-image: url(image/cvp_banner.png);
}


.project #main .proj-header .container {
    padding: 2.5em 0px;
}

.project #main .proj-header h1 {
    font-weight: 300;
}

.project #main .proj-meta {
    /*    margin-bottom: 2em;*/
}

.project #main .proj-meta .container {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12), 0 -1px 3px rgba(0, 0, 0, 0.06), 0 -1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12), 0 -1px 3px rgba(0, 0, 0, 0.06), 0 -1px 2px rgba(0, 0, 0, 0.12);
}

.project #main .proj-meta .container .row {
    margin: 0;
}

.project #main .proj-meta .container .row > .row .row {
    padding: 0;
}

.project #main .proj-meta ul {
    padding-left: 0;
    list-style: none;
    white-space: nowrap;
}

.project #main .proj-meta span {
    font-size: 0.8em;
    margin-top: -5px;
}

@media screen and (min-width: 1200px) {
    .project #main .proj-header {
        height: 280px;
    }
    .project #main .proj-meta {
        margin-top: -120px;
    }
    .project #main .proj-meta .container {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .project #main .proj-meta .container,
    .project #main .proj-cont .container {
        border-radius: 2px;
        max-width: 1140px;
    }

}

@media screen and (min-width: 768px) {
    .project #main .proj-meta .container > .row > .row:nth-of-type(2) {
        margin-left: -30px;
        padding-left: 0;
    }
}

.project #main .proj-cont {
    z-index: 100;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.72), 0 2px 2px rgba(0, 0, 0, 0.84);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.72), 0 2px 2px rgba(0, 0, 0, 0.84);
}

.project #main .proj-cont .container {
    padding-top: 0;
    padding-bottom: 0;
}

.project #main .proj-cont .container > .row {
    padding: 0 30px;
}

.project #main .proj-cont .container > .row > * {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.project #main .proj-cont .container > .row > div {
    -webkit-box-shadow: 1px 0px 4px -1px rgba(0,0,0,0.24);
    box-shadow: 1px 0px 4px -1px rgba(0,0,0,0.24);
}

.project #main .proj-cont #sidenav {
    /*    padding-top: 0.5em;*/
    position: -webkit-sticky;
    position: sticky;
    top: 20px;

}

.project #main .proj-cont #sidenav .sn-header {
    font-size: 1.2em;
}

.project #main .proj-cont #sidenav ul.nav {
    display: block;
    list-style: none;
    margin: 15px 0;
    padding-left: 0.5em;
    font-weight: 300;
}

.project #main .proj-cont #sidenav ul > li {
    max-width: 150px;
    /*    padding: 0.5em 0;*/
}

.project #main .proj-cont #sidenav li > a {
    width: 100%;
    color: var(--txGrey);
    padding: 10px;
    border-left: 0.5px solid;
}

.project #main .proj-cont #sidenav li > a:hover {
/*    border-bottom: none;*/
}

.project #main .proj-cont #sidenav li > a.active {
    color: #000;
    border-left: 1.5px solid;
    font-weight: normal;
}

.project #main .proj-cont #sidenav li:hover > a {
    color: var(--primary);
    font-weight: normal;
    border-left: 1.5px solid;
}

.project #main .proj-cont #sidenav li:hover > a.active {
    pointer-events: none;
    cursor: inherit;
    color: #000;
}

.project #main .proj-cont #sidenav a.sn-top {
    font-size: 0.8em;
    color: var(--txGrey);
}

.project #main .proj-cont #sidenav a.sn-top:hover {
    color: var(--primary);
    font-weight: normal;
    border: none;
}

.project #main .proj-cont article {
    position: relative;
    margin-top: -1em;
}

.project #main .proj-cont .proj-sect {
    margin-bottom: 2em;
    padding-top: 1em;
}

@media screen and (min-width: 768px) {
    .project #main .proj-cont .proj-sect {
        padding-left: 15px;
    }
}

.project #main .proj-cont .proj-sect > div {
    height: 120px;
    /*    border: 0.5px solid #000;*/
}

.project #more {
    background: -webkit-gradient(linear, left top, left bottom, from(#0a231e), to(#45635c));
    background: linear-gradient(to bottom, #0a231e 0%, #45635c 100%);
    overflow: hidden;
}

@media screen and (min-width: 1512px) {
    .project #more {
/*        background: var(--bgDarkgreen);*/
    }
}

.project #more .container {
    padding: 3em 15px 1.5em 15px;
}

.project #more h1 {
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.project #more #more-content {
    margin-top: -1.5rem;
}

.project #more h2 {
    text-transform: capitalize;
}

.project #more #main {
    -webkit-box-shadow: none;
    box-shadow: none;
}

footer {
    background-color: var(--bgDarkgreen);
    background-color: #fff;
    padding: 3rem 15px;
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.06), 0 -1px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.06), 0 -1px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    z-index: 100;
    text-align: center;
}

.project footer {
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.64), 0 -1px 2px rgba(0, 0, 0, 0.76);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.64), 0 -1px 2px rgba(0, 0, 0, 0.76), 0 1px 3px rgba(0, 0, 0, 0.64), 0 1px 2px rgba(0, 0, 0, 0.76);
}

footer .row {
/*    margin: 0;*/
}

footer .footer-links {
    margin: 0 auto;
}

footer .icon {
    background-color: transparent;
    color: var(--txGrey);
}

footer .icon:before {
    font-size: 2.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

footer .icon:hover {
    color: var(--primary);
    border: none;
}

footer .icon > .label {
    font-weight: 300;
    white-space: nowrap;
    width: 100%;
    display: block;

}

.copyright {
    background-color: #45635c;
    padding: 3rem 15px;
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
}

@media screen and (min-width: 1512px) {
    .copyright {
        background-color: var(--bgDarkgreen);

    }
}

.btm-top {
    margin-top: 1rem;
    display: block;
    color: var(--borderGrey);
}

.btm-top:hover {
    color: #fff;
}

.btm-top span {
}
